.maindiv{
    display: flex;
    height: 40px;
    width: 95%;
    border: 2px solid red;
    justify-content: space-around;
}

/* .product{
    border:"1px solid blue";
    display:"flex";
    margin:"2%"
} */

.showdatabtn{
    background-color: black;
    color: white;
    height: 40px;
    border: none;
}